{% extends 'base.html.twig' %}

{% block title %} Inscription {% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

{{ form_start(registrationForm) }}
    <h1 class="h3 mb-3 font-weight-normal"> Inscription </h1> 
    <strong> Vous pouvez vous inscrire via cette page. Après l'inscription, vous devrez vérifier votre adresse email. </strong> <br /><br />
    {{ form_row(registrationForm.email) }}
    {{ form_row(registrationForm.plainPassword, { label: 'Password' }) }}
    <button type="submit" class="btn w-100 btn-primary">Register</button>
{{ form_end(registrationForm) }}
{% endblock %}
