{% extends 'base.html.twig' %}

{% block title %} Ajouter une recette {% endblock %}

{% block body %}
    <h1>Ajouter une recette</h1>

    {{ form_start(form) }}
        {{ form_row(form.title) }}
        {{ form_row(form.type) }}
        {{ form_row(form.prix) }}
        {{ form_row(form.prepDuration) }}
        {{ form_row(form.nbPersonnes) }}
        {{ form_row(form.ingredients) }}
        {{ form_row(form.imgName) }}
        {{ form_row(form.text) }}
        <button type="submit" class="btn">Register</button>
    {{ form_end(form) }}
{% endblock %}
