{% extends 'base.html.twig' %}

{% block title %} Liste des {{ type }}s {% endblock %}

{% block body %}
    <h1>Liste des {{ type }}s</h1>

    {% for recette in recettes %}
        <div class="bg-dark text-light">
            {{ recette.title }} <br />
            Ingredients: {{ recette.ingredients }}
            <a href="{{ path("recettes_recette", {id: recette.id}) }}"> <button> Voir la recette </button></a>
        </div>
        <br />
    {% endfor %}
{% endblock %}
