<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet"  type='text/css'>
        <link href="{{ asset('css/base.css') }}" rel="stylesheet">
        {% block stylesheets %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </head>
    <body>
        {% for type,msgs in app.flashes %} 
            {% for msg in msgs %}
                <div class="alert-{{type}}"> {{ msg }} </div>
            {% endfor %}
        {% endfor %}
        <nav>
            <a href="{{ path('home') }}"> <img src="{{ asset('img/joe-smack.jpg') }}" /> </a>
            <a href="{{ path('recettes_list', {type: "entree"}) }}"> <button>Entree</button></a>
            <a href="{{ path('recettes_list', {type: "plat"}) }}"> <button>Plat</button></a>
            <a href="{{ path('recettes_list', {type: "patisserie"}) }}"> <button>Patisserie</button></a>
            <a href="{{ path('recettes_list', {type: "az"}) }}"> <button>A-Z</button></a>
            <a href="{{ path('recettes_ajout') }}"> <button class="fa fa-cutlery btn-small"></button></a>
            {% if app.user is null %}
                <a href="{{ path('app_login') }}"><button class="fa fa-user btn-small"></button></a>
            {% else %}
                <a href="{{ path('app_logout') }}"><button class="fa fa-sign-out btn-small"></button></a>
            {% endif %}
        </nav>

        <main id="main">
            {% block body %}{% endblock %}
        </main>

        <script>
            var type = window.location.href.split("/")[5];
            var mainElem = document.getElementById("main");
            if(window.screen.width < 600){
                switch (type) {
                case "entree": mainElem.style.backgroundImage = "url(https://i.ibb.co/tDpG2tk/entree-Phone.jpg)"; break;
                case "plat": mainElem.style.backgroundImage = "url(https://i.ibb.co/LrG9BzT/plat-Phone.jpg)"; break;
                case "patisserie": mainElem.style.backgroundImage = "url(https://i.ibb.co/5FZ1RdF/patisserie-Phone.jpg)"; break;
                default: mainElem.style.backgroundImage = "url(https://i.ibb.co/SRD5xsS/food-Phone.jpg)"; break;
                }
            } else {
                switch (type) {
                case "entree": mainElem.style.backgroundImage = "url(https://i.ibb.co/SmX65RN/entree.jpg)"; break;
                case "plat": mainElem.style.backgroundImage = "url(https://i.ibb.co/nfRxZL9/plat.jpg)"; break;
                case "patisserie": mainElem.style.backgroundImage = "url(https://i.ibb.co/qW7StB9/patisserie.jpg)"; break;
                default: mainElem.style.backgroundImage = "url(https://i.ibb.co/LnDRNsm/aliments.jpg)"; break;
                }
            }
        </script>
    </body>
</html>
